<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>100</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>STAGE</name>
          <description></description>
          <defaultValue>STOP_TEST</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TESTSCRIPT</name>
          <description></description>
          <defaultValue>TEST_VIRGO</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RESET_CODE</name>
          <description>remove existing dataset and extract from the dataset archive</description>
          <defaultValue>NO_RESET_CODE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>QUICK_BUILD_FLOW</name>
          <description>&lt;strong&gt;this field need a complete config line, to run a flow&lt;/strong&gt;
&lt;br/&gt;
&lt;quote&gt;
/java/exo-working/VALIDATIONS/TQA-432/PLF-354_VISUALVM_PROFILING_PATCH_20120606 /mnt/nfs4/DATASETS/PLF/PLF3.5.x/3.5.x_02/NODATASET.zip plf_jcr plf_idm!PERF_PLF_INTRANET_99_SIMPLE_CALENDAR_HOMEPAGE 2 10 7200 9999 192.168.5.8 8080 CALENDAR_HOME_PATCH20120606_01 true true - - TQA-432_CALENDAR_HOME_PATCH20120606!eXoPLF.install.sh
&lt;quote&gt;</description>
          <defaultValue>NO_QUICK_BUILD_FLOW</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>XSS-AUTO-1</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
BUILD_STEP=$(( BUILD_NUMBER - LAST_BUILD_NUMBER ))

pushd $HOME/testsuite
if [ ! &quot;${QUICK_BUILD_FLOW}&quot; == &quot;NO_QUICK_BUILD_FLOW&quot; ]; then
    echo &quot;${QUICK_BUILD_FLOW}&quot;&gt;&gt;${TESTSCRIPT}_CURRENT_CONFIG
    echo &quot; ... the system will run a quick build flow with QUICK_BUILD_FLOW=${QUICK_BUILD_FLOW} ... &quot;
fi
echo &quot; ... +++ CURRENT CONFIG FILE:: +++ ....&quot;
cat ${TESTSCRIPT}_CURRENT_CONFIG
echo &quot; ... --- CURRENT CONFIG FILE:: --- ....&quot;
pushd $HOME/testsuite &amp;&amp; bash jmeter-utils-testcontroller.sh ${STAGE} ${TESTSCRIPT} ${RESET_CODE}
grep &quot;success&quot; ${TESTSCRIPT}_testresult.log;
last_code=$?;
if [ ! ${last_code} -eq &quot;0&quot; ]; then
   a=$((1/0))
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>TEST_VIRGO__01_stop-previous</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.16">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>5</timeoutMinutes>
      </strategy>
      <operationList>
        <hudson.plugins.build__timeout.operations.FailOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.7.4"/>
  </buildWrappers>
</project>