<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>100</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>STAGE</name>
          <description></description>
          <defaultValue>STOP_TEST</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TESTSCRIPT</name>
          <description></description>
          <defaultValue>TEST_VIRGO</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RESET_CODE</name>
          <description>remove existing dataset and extract from the dataset archive</description>
          <defaultValue>NO_RESET_CODE</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>QUICK_BUILD_FLOW</name>
          <description></description>
          <defaultValue>NO_QUICK_BUILD_FLOW</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>XSS-AUTO-1</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

EXO_WORKING_DIR=/java/exo-working

if [ -d $EXO_WORKING_DIR ]; then
  pushd $EXO_WORKING_DIR
  
  if [ ! -d automation_xss_tc_new ]; then
    echo &quot;INFO: downloading automation_xss_tc_new&quot;
    git clone https://github.com/nghinv/automation_xss_tc_new.git 
    ln -s automation_xss_tc_new automation_xss_tc
  fi

  if [ ! -d w3af_auto ]; then
    echo &quot;INFO: w3af_auto&quot;
    git clone https://github.com/nghinv/w3af_auto.git
  fi
  
  pushd w3af_auto

    mkdir tools;
    cd tools;
    if [ ! -d w3af ]; then
      echo &quot;INFO: w3af_auto&quot;
      git clone https://github.com/nghinv/w3af.git
      pushd w3af
      git checkout 1.1 -b 1.1
      popd
    fi
    mkdir dependencies
    cd dependencies
    echo &quot;... install w3af dependencies: &quot;
    apt-get update
    echo &quot;... install w3af dependencies: python-soappy python-lxml python-svn python-scapy&quot;
    apt-get install -y python-soappy python-lxml python-svn python-scapy python2.7-dev gcc python-setuptools tcpdump
    apt-get install -y python-openssl

    echo &quot;... install w3af dependencies: nltk-2.0b9.tar.gz, pybloomfiltermmap-0.2.0.tar.gz, PyYAML-3.09.tar.gz&quot;
    wget https://pypi.python.org/packages/source/p/pybloomfiltermmap/pybloomfiltermmap-0.2.0.tar.gz &amp;&amp; tar xf pybloomfiltermmap-0.2.0.tar.gz &amp;&amp; cd pybloomfiltermmap-0.2.0 &amp;&amp; python setup.py install
    wget http://pyyaml.org/download/pyyaml/PyYAML-3.09.tar.gz &amp;&amp; tar xf PyYAML-3.09.tar.gz &amp;&amp; cd PyYAML-3.09 &amp;&amp; python setup.py install
    wget https://pypi.python.org/packages/source/n/nltk/nltk-2.0b9.tar.gz &amp;&amp; tar xf nltk-2.0b9.tar.gz &amp;&amp; cd nltk-2.0b9 &amp;&amp; python setup.py install
    
   popd
  

  #download firefox
  if [ ! -f firefox-21.0b7.tar.bz2 ]; then
    if [ ! -d firefox21 ]; then
      # remove firefox folder
      rm -frv current_firefox || true
      
      # download firefox21
      curl -fL https://download-installer.cdn.mozilla.net/pub/firefox/releases/21.0b7/linux-x86_64/en-US/firefox-21.0b7.tar.bz2  -o ${EXO_WORKING_DIR}/firefox-21.0b7.tar.bz2 
      tar xf ${EXO_WORKING_DIR}/firefox-21.0b7.tar.bz2
      
      # choose ff21
      mv firefox firefox21
      ln -s firefox21 current_firefox
    else
      echo &quot;INFO: the folder firefox21 existing, abort the download process&quot;
    fi
  fi
  
  if [ ! -f selenium-server-standalone-2.52.0.jar ]; then
    echo &quot;INFO: downloading selenium-server-standalone-2.52.0.jar&quot;
    curl -fL http://selenium-release.storage.googleapis.com/2.52/selenium-server-standalone-2.52.0.jar -o ${EXO_WORKING_DIR}/selenium-server-standalone-2.52.0.jar
  fi
  
  set -e
  if [ ! -f plf-community-tomcat-standalone-4.3.0.zip ]; then
    echo &quot;INFO: downloading plf-community-tomcat-standalone-4.3.0.zip&quot;
    curl -fL https://repository.exoplatform.org/service/local/repositories/exo-releases/content/org/exoplatform/platform/distributions/plf-community-tomcat-standalone/4.3.0/plf-community-tomcat-standalone-4.3.0.zip -o ${EXO_WORKING_DIR}/plf-community-tomcat-standalone-4.3.0.zip
  fi
  
  mkdir ${EXO_WORKING_DIR}/TC || true
  if [ -d ${EXO_WORKING_DIR}/TC/current ]; then
    echo &quot;INFO: removing ${EXO_WORKING_DIR}/TC/current&quot;
    rm -rf ${EXO_WORKING_DIR}/TC/current/*
  else
    mkdir ${EXO_WORKING_DIR}/TC/current
  fi
  rm -rf /tmp/PLF || true
  unzip -q ${EXO_WORKING_DIR}/plf-community-tomcat-standalone-4.3.0.zip -d /tmp/PLF
  TMP_PLF_DIR=`find /tmp/PLF -maxdepth 1 -mindepth 1`
  if [ $? -eq 0 ]; then
    mv $TMP_PLF_DIR/* ${EXO_WORKING_DIR}/TC/current/
    # extract dataset
    echo &quot;INFO: Extracting dataset&quot; # extract dataset
    
    pushd ${EXO_WORKING_DIR}/TC/current/
    mkdir DATASET
    pushd DATASET
    # this dataset contain conf/server.xml and webapps/eXoResources.war together with gatein/data
    tar xf ${EXO_WORKING_DIR}/automation_xss_tc/testsuite/plf_templates/datasets/plf43comm/PLF43_DATASET_HSQL.tar.bz2
    popd
    cp DATASET/* . -R
    rm -rf DATASET
    echo &quot;INFO: ${EXO_WORKING_DIR}/TC/current/ is now ready to run&quot;
    popd #to EXO_WORKING_DIR
    
    mkdir -p $HOME/.eXo/Platform/ || true
    cp ${EXO_WORKING_DIR}/automation_xss_tc/testsuite/plf_templates/datasets/plf43comm/license.xml $HOME/.eXo/Platform/
    echo &quot;${EXO_WORKING_DIR}/TC/current/ RE_USE!SAMPLES 3600 SAMPLE_TEST_WITH_PLF43 SHOULD_WORK!eXoPLF.install.sh&quot; &gt; ${EXO_WORKING_DIR}/automation_xss_tc/testsuite/TEST_VIRGO_CURRENT_CONFIG
  fi
else
  echo &quot;ERROR: Expect to have the folder $EXO_WORKING_DIR to exist&quot;
  a=$((1/0))
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>TEST_VIRGO__00_start-new-bridge</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.16">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>50</timeoutMinutes>
      </strategy>
      <operationList>
        <hudson.plugins.build__timeout.operations.FailOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.7.4"/>
  </buildWrappers>
</project>